#hire_btn {
	&:hover {
		color: #fdfdfd;
	}
	font-weight: bold;
	padding-top: 8px;
	padding-bottom: 8px;
	padding-right: 15px;
	padding-left: 15px;
	width: 200px;
}
.nc_btn {
	&:hover {
		color: #fdfdfd;
	}
	font-weight: bold;
	padding-top: 8px;
	padding-bottom: 8px;
	padding-right: 15px;
	padding-left: 15px;
	width: 200px;
}
#hero_btns {
	column-gap: 20%;
}
.nc_links {
	color: #ffc107;
	padding-right: 15px;
	width: 200px;
	&:hover {
		color: #fbfbfb;
	}
}
.cv_icon_select {
	font-size: 40px;
	text-align: center;
}
.btn_icon_select {
	width: 100%;
	color: #ffc107;
	&:hover {
		color: #fdfdfd;
	}
}
.reset {
	list-style: none;
	padding: 0px;
	margin: 0px;
}
.options_select {
	margin-top: 0;
	margin-bottom: 0;
	background: #75797d;
	padding-top: 20px;
	padding-bottom: 20px;
	div {
		label {
			color: #fbfbfb;
			font-size: 20px;
		}
	}
}
.nc_subtitulos {
	font-size: 1.3em;
	font-weight: 300;
}
#videoHero {
	position: fixed;
	top: 0;
	left: -100%;
	width: 300%;
	height: 100%;
	z-index: -1;
}
#hero {
	height: 100vh;
	background: linear-gradient(rgba(0,0,0,0.1), #333333);
	width: 100%;
	overflow: hidden;
}
.nc_logo {
	max-width: 150px;
	padding: 0px;
}
.nc_fecha_titulo {
	padding: 5px;
	border-top-width: 1px;
	border-top-style: solid;
	border-bottom: 1px none #343a40;
}
.nc_titulo {
	font-size: 1.1em;
	padding: 0px;
	padding-right: 0px;
	padding-left: 0px;
	text-align: center;
	padding-bottom: 0px;
	margin-top: 15px;
	margin-bottom: 20px;
}
.nc_titulo_foot {
	font-size: 1.1em;
	padding: 15px 0px;
	padding-right: 0px;
	padding-left: 0px;
	text-align: center;
	padding-bottom: 0px;
	padding-top: 40px;
}
.nc_icon_avatar {
	font-size: 30px;
	padding: 0px;
	margin-top: 10px;
	margin-bottom: 10px;
}
#footer {
	padding-top: 15px;
	padding-bottom: 15px;
	background: #343a40;
}
.list_reset {
	list-style: none;
	margin: 0px;
	padding: 0px;
}
.list-inline-item {
	margin: 30px;
	margin-top: 0px;
}
#foot_2 {
	font-size: 40px;
	color: #ffc107;
}
a {
	i {
		color: #ffc107;
	}
}
#foot_1 {
	width: 100%;
}
ul#foo_1 {
	li {
		width: 100%;
	}
}
.nc_item_op2 {
	background: #f2f5f8;
}
#legal {
	font-size: 0.7em;
}
.nc_cargo_tit {
	font-size: 2.5em;
	margin-bottom: 25px;
	margin-top: 25px;
}
.cv_actividades_icon {
	font-size: 60px;
}
#video_container {
	overflow: hidden;
	width: 100vw;
	height: 100%;
}
#nc_cv_selector_desktop {
	position: sticky;
	top: 0;
	height: 100vh;
	margin: 0;
	bottom: 0;
	background-color: #75797d;
}
#nc_cv_item_default {
	height: 100vh;
	position: relative;
	top: 0;
}
.nc_item {
	background: #fff;
	&:before {
		height: 103px;
		display: block;
		content: '';
	}
}
#hero_link {
	margin-top: 50px;
}
html {
	scroll-behavior: smooth;
}
.nc_objetive {
	color: #ba8b00;
	margin-top: 15px;
}
.article-list {
	color: #313437;
	background-color: #fff;
	p {
		color: #7d8285;
	}
	h2 {
		font-weight: bold;
		margin-bottom: 40px;
		padding-top: 40px;
		color: inherit;
	}
	.intro {
		font-size: 16px;
		margin: 0 auto;
		p {
			margin-bottom: 0;
		}
	}
	.articles {
		padding-bottom: 40px;
	}
	.item {
		padding-top: 50px;
		min-height: 425px;
		text-align: center;
		.name {
			font-weight: bold;
			font-size: 16px;
			margin-top: 20px;
			color: inherit;
		}
		.description {
			font-size: 14px;
			margin-top: 15px;
			margin-bottom: 0;
		}
		.action {
			font-size: 24px;
			width: 24px;
			margin: 22px auto 0;
			line-height: 1;
			display: block;
			color: #4f86c3;
			opacity: 0.85;
			transition: opacity 0.2s;
			text-decoration: none;
			&:hover {
				opacity: 1;
			}
		}
	}
}
.flex-wrap-wrap {
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}
.flex-justify-center {
	-webkit-box-pack: center;
	-moz-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
}
.flex-align-center {
	-webkit-box-align: center;
	-moz-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
}
.flex-box {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	>div[class*="col"] {
		padding-top: 5px;
		padding-bottom: 5px;
	}
}
.highlight-blue {
	p {
		color: #c4d5ef;
		line-height: 1.5;
	}
	h2 {
		font-weight: normal;
		margin-bottom: 25px;
		line-height: 1.5;
		padding-top: 0;
		margin-top: 0;
		color: inherit;
	}
	.intro {
		font-size: 16px;
		max-width: 500px;
		margin: 0 auto 25px;
	}
	.buttons {
		text-align: center;
		.btn {
			padding: 16px 32px;
			margin: 6px;
			border: none;
			background: none;
			box-shadow: none;
			text-shadow: none;
			opacity: 0.9;
			text-transform: uppercase;
			font-weight: bold;
			font-size: 13px;
			letter-spacing: 0.4px;
			line-height: 1;
			&:hover {
				opacity: 1;
			}
			&:active {
				transform: translateY(1px);
			}
		}
		.btn-primary {
			border: 2px solid rgba(255,255,255,0.7);
			border-radius: 6px;
			color: #ebeff1;
			box-shadow: none;
			text-shadow: none;
			padding: 14px 24px;
			background: transparent;
			transition: background-color 0.25s;
			&:active {
				border: 2px solid rgba(255,255,255,0.7);
				border-radius: 6px;
				color: #ebeff1;
				box-shadow: none;
				text-shadow: none;
				padding: 14px 24px;
				background: transparent;
				transition: background-color 0.25s;
			}
		}
	}
	color: #fff;
	background-color: #1e6add;
	padding: 50px 0;
}
.nc_icon_about {
	color: rgb(211,158,0);
}
.row.nc_card {
	min-height: 294px;
	padding: 15px;
	border-radius: 15px;
	margin: 5px;
	background: rgb(204,204,204);
	box-shadow: 0px 0px 16px 6px rgb(161,162,163);
}
.highlight-clean {
	p {
		color: #7d8285;
	}
	h2 {
		font-weight: bold;
		margin-bottom: 25px;
		line-height: 1.5;
		padding-top: 0;
		margin-top: 0;
		color: inherit;
	}
	.intro {
		font-size: 16px;
		max-width: 500px;
		margin: 0 auto 25px;
	}
	.buttons {
		text-align: center;
		.btn {
			padding: 16px 32px;
			margin: 6px;
			border: none;
			background: none;
			box-shadow: none;
			text-shadow: none;
			opacity: 0.9;
			text-transform: uppercase;
			font-weight: bold;
			font-size: 13px;
			letter-spacing: 0.4px;
			line-height: 1;
			outline: none;
			background-color: #ddd;
			&:hover {
				opacity: 1;
			}
			&:active {
				transform: translateY(1px);
			}
		}
		.btn-primary {
			background-color: #055ada;
			color: #fff;
		}
	}
	color: #313437;
	background-color: #fff;
	padding: 50px 0;
}
.navigation-clean-button {
	.navbar-brand {
		font-weight: bold;
		color: inherit;
		&:hover {
			color: #222;
		}
		img {
			height: 100%;
			display: inline-block;
			margin-right: 10px;
			width: auto;
		}
	}
	.navbar-toggler {
		border-color: #ddd;
		color: #888;
		&:hover {
			background: none;
		}
		&:focus {
			background: none;
		}
	}
	.navbar-collapse {
		border-top-color: #ddd;
	}
	.form-inline {
		border-top-color: #ddd;
	}
	.navbar-nav {
		a.active {
			background: none;
			box-shadow: none;
		}
		>.show {
			>a {
				background: none;
				box-shadow: none;
			}
		}
		>li {
			>.dropdown-menu {
				margin-top: -5px;
				box-shadow: 0 4px 8px rgba(0,0,0,.1);
				background-color: #fff;
				border-radius: 2px;
			}
		}
	}
	.dropdown-menu {
		.dropdown-item {
			&:focus {
				line-height: 2;
				font-size: 14px;
				color: #37434d;
				background: #eee;
				color: inherit;
			}
			line-height: 2;
			font-size: 14px;
			color: #37434d;
			&:hover {
				background: #eee;
				color: inherit;
			}
		}
	}
	.actions {
		.login {
			margin-right: 1rem;
			text-decoration: none;
			color: #465765;
		}
	}
	.navbar-text {
		.action-button {
			background: #56c6c6;
			border-radius: 20px;
			font-size: inherit;
			color: #fff;
			box-shadow: none;
			border: none;
			text-shadow: none;
			padding: .5rem 1rem;
			transition: background-color 0.25s;
			font-size: inherit;
			&:active {
				background: #56c6c6;
				border-radius: 20px;
				font-size: inherit;
				color: #fff;
				box-shadow: none;
				border: none;
				text-shadow: none;
				padding: .5rem 1rem;
				transition: background-color 0.25s;
				font-size: inherit;
			}
			&:hover {
				background: #56c6c6;
				border-radius: 20px;
				font-size: inherit;
				color: #fff;
				box-shadow: none;
				border: none;
				text-shadow: none;
				padding: .5rem 1rem;
				transition: background-color 0.25s;
				font-size: inherit;
				background: #66d7d7;
			}
		}
	}
	background: #fff;
	padding-top: .75rem;
	padding-bottom: .75rem;
	color: #333;
	border-radius: 0;
	box-shadow: none;
	border: none;
	margin-bottom: 0;
}
.navigation-clean-button.navbar-dark {
	.navbar-brand {
		&:hover {
			color: #f0f0f0;
		}
	}
	.navbar-toggler {
		border-color: #555;
		color: #eee;
	}
	.navbar-collapse {
		border-top-color: #333;
	}
	.form-inline {
		border-top-color: #333;
	}
	background-color: #1f2021;
	color: #fff;
	.navbar-nav {
		a.active {
			color: #f0f0f0;
			box-shadow: none;
			background: none;
			pointer-events: none;
			&:focus {
				color: #f0f0f0;
				box-shadow: none;
				background: none;
				pointer-events: none;
			}
			&:hover {
				color: #f0f0f0;
				box-shadow: none;
				background: none;
				pointer-events: none;
			}
		}
		.nav-link {
			color: #dfe8ee;
			&:focus {
				color: #fff !important;
				background-color: transparent;
			}
			&:hover {
				color: #fff !important;
				background-color: transparent;
			}
		}
		>li {
			>.dropdown-menu {
				background-color: #1f2021;
			}
		}
	}
	.dropdown-menu {
		.dropdown-item {
			&:focus {
				color: #f2f5f8;
				background: #363739;
			}
			color: #f2f5f8;
			&:hover {
				background: #363739;
			}
		}
	}
	.actions {
		.login {
			color: #dfe8ee;
			&:hover {
				color: #fff;
			}
		}
	}
	.action-button {
		background: #208f8f;
		&:active {
			background: #208f8f;
		}
		&:hover {
			background: #269d9d;
		}
	}
}
.navigation-clean-button.navbar-light {
	.navbar-nav {
		a.active {
			color: #f0f0f0;
			box-shadow: none;
			background: none;
			pointer-events: none;
			&:focus {
				color: #f0f0f0;
				box-shadow: none;
				background: none;
				pointer-events: none;
			}
			&:hover {
				color: #f0f0f0;
				box-shadow: none;
				background: none;
				pointer-events: none;
			}
		}
		.nav-link {
			color: #465765;
			&:focus {
				color: #f0f0f0 !important;
				background-color: transparent;
			}
			&:hover {
				color: #f0f0f0 !important;
				background-color: transparent;
			}
		}
	}
}
.navigation-clean-button.navbar {
	.navbar-nav {
		.nav-link {
			padding-left: 18px;
			padding-right: 18px;
		}
	}
}
.register-photo {
	.image-holder {
		display: table-cell;
		width: auto;
		background: url(../../assets/img/meeting.jpg);
		background-size: cover;
	}
	.form-container {
		display: table;
		max-width: 900px;
		width: 90%;
		margin: 0 auto;
		box-shadow: 1px 1px 5px rgba(0,0,0,0.1);
	}
	form {
		display: table-cell;
		width: 400px;
		background-color: #ffffff;
		padding: 40px 60px;
		color: #505e6c;
		h2 {
			font-size: 24px;
			line-height: 1.5;
			margin-bottom: 30px;
		}
		.form-control {
			background: #f7f9fc;
			border: none;
			border-bottom: 1px solid #dfe7f1;
			border-radius: 0;
			box-shadow: none;
			outline: none;
			color: inherit;
			text-indent: 6px;
			height: 40px;
		}
		.form-check {
			font-size: 13px;
			line-height: 20px;
		}
		.btn-primary {
			background: #f4476b;
			border: none;
			border-radius: 4px;
			padding: 11px;
			box-shadow: none;
			margin-top: 35px;
			text-shadow: none;
			outline: none !important;
			&:hover {
				background: #eb3b60;
			}
			&:active {
				background: #eb3b60;
				transform: translateY(1px);
			}
		}
		.already {
			display: block;
			text-align: center;
			font-size: 12px;
			color: #6f7a85;
			opacity: 0.9;
			text-decoration: none;
		}
	}
	background: #f1f7fc;
	padding: 80px 0;
}
#mainPortfoil {
	padding: 2%;
	flex: 1 1 80%;
	min-height: 50vh;
}
#portfoilSlider {
	display: grid;
	height: 69vh;
	grid-template-rows: repeat(6, 1fr);
	grid-template-columns: repeat(5, 1fr);
	grid-gap: 20px;
}
.slide {
	background-color: gainsboro;
	background-position: center center;
	background-size: cover;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1.5em;
	color: white;
	font-weight: bolder;
	position: relative;
	z-index: 1;
	&::before {
		content: '';
		background-color: black;
		opacity: 0.85;
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: -1;
	}
	&:hover {
		font-size: 1.65em;
		font-weight: lighter;
		&::before {
			content: '';
			background-color: black;
			opacity: 0;
		}
	}
}
.cuadSma {
	grid-row: span 1;
	grid-column: span 1;
}
.cuadMid {
	grid-row: span 2;
	grid-column: span 2;
}
.cuadLar {
	grid-row: span 3;
	grid-column: span 3;
}
.cuadTal {
	grid-row: span 3;
	grid-column: span 2;
}
.cuadWid {
	grid-row: span 2;
	grid-column: span 3;
}
#portfoil1 {
	background-image: url('../img/images.jpg');
}
#portfoil2 {
	background-image: url('../img/images.jpg');
}
#portfoil3 {
	background-image: url('../img/images.jpg');
}
#portfoil4 {
	background-image: url('../img/images.jpg');
}
#portfoil5 {
	background-image: url('../img/images.jpg');
}
#portfoil6 {
	background-image: url('../img/images.jpg');
}
@media (min-width: 576px) {
	#hire_btn {
		width: 200px;
	}
	.nc_btn {
		width: 200px;
	}
	.buttons {
		.nc_links {
			margin-top: 0px;
		}
	}
}
@media (min-width: 992px) {
	#videoHero {
		top: 50%;
		left: 50%;
		width: 100%;
		transform: translate(-50%, -50%);
		height: 100%;
		top: 0;
		left: -100%;
		width: 300%;
		height: 100%;
	}
}
@media (min-width: 1024px) {
	#videoHero {
		left: 0;
		top: -50%;
		width: 100%;
		height: 200%;
		transform: translate(0,0);
	}
}
@media (min-width: 767px) {
	#hero_link {
		margin-top: auto;
	}
}
@media (max-width:767px) {
	.article-list {
		h2 {
			margin-bottom: 25px;
			padding-top: 25px;
			font-size: 24px;
		}
	}
	.navigation-clean-button {
		.navbar-nav {
			.show {
				.dropdown-menu {
					box-shadow: none;
					.dropdown-item {
						color: #37434d;
						padding-top: 12px;
						padding-bottom: 12px;
						line-height: 1;
					}
				}
			}
		}
	}
	.navigation-clean-button.navbar-dark {
		.navbar-nav {
			.show {
				.dropdown-menu {
					.dropdown-item {
						color: #fff;
					}
				}
			}
		}
	}
}

@media (min-width:768px) {
	.navigation-clean-button {
		padding-top: 1rem;
		padding-bottom: 1rem;
	}
}
@media (max-width:991px) {
	.register-photo {
		form {
			padding: 40px;
		}
	}
	
	#portfoilSlider {
		display: grid;
		height: 69vh;
		grid-template-rows: repeat(18, 1fr);
		grid-template-columns: repeat(1, 1fr);
		grid-gap: 20px;
	}
	.cuadSma {
		grid-row: span 3;
		grid-column: span 3;
	}
	.cuadMid {
		grid-row: span 3;
		grid-column: span 3;
	}
	.cuadLar {
		grid-row: span 3;
		grid-column: span 3;
	}
	.cuadTal {
		grid-row: span 3;
		grid-column: span 3;
	}
	.cuadWid {
		grid-row: span 3;
		grid-column: span 3;
	}
}
